@import "../styles/variables.scss";

.container {
  color: black;
  padding-bottom: $p3/2;
  padding-top: $p3/1.2;
  position: relative;
}

.arrow {
  width: 30px;
}

.link {
  color: teal;
  font-weight: bold;
}

.faq_box {
  padding-bottom: $p2;
  #game_console {
    z-index: 3;
  }
}

#space {
  height: 20px;
}

.qa_shape {
  position: relative;
  z-index: 3;
  .clickable {
    cursor: pointer;
  }

  .both {
    width: $faq;
    border-radius: 10px;
    text-align: left;
    padding: $p1/3 $p1/2 $p1/3 $p1/2;
  }
}

@media (max-width: 480px) {
  .faq_box {
    .title {
      font-size: $headerMobile;
    }
  }
  .qa_shape {
    .question {
      font-size: $pv2;
    }
    .answer {
      font-size: $pv2/1.2;
    }
    .both {
      padding-left: 2vw;
    }
  }
}
