@import "../styles/variables.scss";

$track_title: 20px;
$description: 16 px;
$descriptionMobile: 16px;
$track_width: 70vw;

.header {
  color: whitesmoke;
  font-size: $header;
  font-family: "Retronoid";
  z-index: 2;
}

.subtext {
  color: whitesmoke;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5vh;
  text-align: center;
  font-family: "Titillium Web";
  font-size: $description;
  z-index: 2;
}

.eligibility {
  color: whitesmoke;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Titillium Web";
  font-size: $description;
  z-index: 2;
}

.subtextQuestion {
  color: whitesmoke;
  font-family: "TItillium Web";
  font-size: $track_title;
  text-align: center;
  padding-bottom: 2rem;
  z-index: 2;
}

.subheader {
  color: whitesmoke;
  font-size: $subt/1.5;
  font-family: "Retronoid";
  text-align: center;
  z-index: 3;
}

.description {
  position: relative;
  color: whitesmoke;
  font-size: $description;
  text-align: center;
  font-family: "Titillium Web";
  z-index: 3;
}

.clickable {
  cursor: pointer;
}

.container {
  padding-top: 40vh;
  padding-bottom: $p2;
  position: relative;
}

#general_track_container {
  padding: 12vh 0 12vh 0;
  position: relative;
}

#emerging_track_container {
  padding: 12vh 0 12vh 0;
  position: relative;
}

#only_one_mode {
  padding-top: 5rem;
}

#general {
  position: relative;
  padding-right: 5vw;
  padding-left: 5vw;
}

#emerging {
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
}

#reimbursement {
  position: relative;
  z-index: 4;
}

#track_base {
  position: relative;
}

.td {
  position: relative;
  height: auto;
  z-index: 3;

  .td_question {
    z-index: 4;
    color: whitesmoke;
    width: $track_width;
    text-align: left;
    padding: 0.75rem 2rem 0.75rem 2rem;

    background: rgba(217, 217, 217, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 71.5px;

    .track {
      font-size: $track_title;
      padding: 0.5rem 0 0.5rem 0;
      font-family: "Titillium Web";
    }

    .description {
      font-size: $description;
      text-align: left;
      padding-bottom: 1.4rem;
    }

    .arrow {
      position: absolute;
      right: 1.5rem;
    }

    #down_arrow {
      transform: rotate(180deg);
    }
  }

  .td_answer {
    position: relative;
    z-index: 3;
    color: whitesmoke;
    font-size: 15px;
    font-family: "Titillium Web";
    transform: translateY(-70px);

    background: rgba(217, 217, 217, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 34px;

    width: $track_width;
    text-align: left;
    padding: 5rem 2rem 1rem 2rem;
    margin-bottom: -70px;
  }
}

.not_background {
  position: relative;
  z-index: 10;
}

.track_container {
  position: relative;
  margin: auto;
  box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.7), inset -2px -2px 10px #07081d;
  background: linear-gradient(
    93.55deg,
    rgba(241, 163, 212, 0.45) 50.74%,
    rgba(153, 186, 236, 0.36) 77.56%,
    rgba(128, 38, 242, 0.45) 92.19%,
    rgba(225, 145, 196, 0.45) 114.96%
  );
  backdrop-filter: blur(8px);
  border-radius: 50px;

  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 50vw;
  z-index: 3;
}

@media (max-width: 900px) {
  .track_container {
    padding: 8vw;
  }
  .td_container {
    width: 75vw;
  }
}

@media (max-width: 700px) {
  .header {
    font-size: $headerMobile;
  }
  .subheader {
    font-size: $subHeaderMobile;
    top: 0vh;
  }
  .subtext {
    font-size: $descriptionMobile;
    padding: 0 3rem 0 3rem;
  }

  .track_container {
    box-shadow: none;
    background: none;
    backdrop-filter: none;
    border-radius: none;

    padding: 0;
    padding-bottom: 10vh;
    max-width: 80vw;
  }
}

@media (max-width: 550px) {
  .td {
    .td_question {
      .arrow {
        display: none;
        visibility: hidden;
      }
    }
  }
}

@media (max-width: 480px) {
  .description {
    font-size: 16px;
  }
  .subtext {
    font-size: 14px;
  }
  .td_container {
    .track {
      font-size: $track_title/1.1;
    }
    .description {
      font-size: 13px;
    }
  }
}

@keyframes starryMotion {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(10%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes starryMotion2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
