@import "../styles/variables.scss";

.title_box {
  width: 100% !important;
  min-width: 100vw;
  height: 100vh;
}

.grid-background-image {
  z-index: 2 !important;
  width: 100vw;
  height: 100vh;
}

.crumpled_paper {
  z-index: 4;
  width: 100vw;
  height: 100vh;
}


.rectangle {
  z-index: 5;
  width: 85vw;
  height: 40vh;
  margin-left: 7vw;
  margin-top: 14vh;
}

.logo_and_stars {
  z-index: 5;
  margin-left: 16vw;
  margin-top: 12vh;
  height: 40vh;
}

.hackgt_text {
  z-index: 5;
  margin-left: 31vw;
  margin-top: 14vh;
  width: 51vw;
}

.brown_blurb {
  z-index: 5;
  margin-left: 37vw;
  margin-top: 33vh;
  height: 22vh;
}

.dates_blurb {
  z-index: 5;
  margin-left: 60vw;
  margin-top: 47vh;
  width: 25vw;
}

.location_blurb {
  z-index: 5;
  margin-left: 13vw;
  margin-top: 55vh;
  height: 44vh;
}

.random_text_blurb {
  z-index: 5;
  margin-left: 57vw;
  margin-top: 55vh;
  height: 42vh;
}

.register_now {
  z-index: 5;
  margin-left: 37vw;
  margin-top: 70vh;
  width: 27vw;
}



@media only screen and (min-width: 1441px) {
  .title_box {
    width: 100% !important;
  }
}