@import "../styles/variables.scss";

.title_box {
  min-width: 1900px;
  min-height: 1024px;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/img/global/grid-background-image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.crumpled_paper {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  min-height: 800px;
}

.rectangle {
  z-index: 5;
  width: 85vw;
  height: 40vh;
  min-height: 350px;
  margin-left: 7vw;
  margin-top: 14vh;
}

.logo_and_stars {
  z-index: 5;
  margin-left: 18vw;
  margin-top: 12vh;
  height: 40vh;
}

.hackgt_text {
  z-index: 5;
  margin-left: 31vw;
  margin-top: 14vh;
  width: 50vw;
}

.brown_blurb {
  z-index: 5;
  margin-left: 37vw;
  margin-top: 33vh;
  height: 22vh;
}

.dates_blurb {
  z-index: 5;
  margin-left: 60vw;
  margin-top: 47vh;
  width: 25vw;
}

.location_blurb {
  z-index: 5;
  margin-left: 13vw;
  margin-top: 55vh;
  height: 44vh;
}

.random_text_blurb {
  z-index: 5;
  margin-left: 57vw;
  margin-top: 55vh;
  height: 42vh;
}

.register_now {
  z-index: 5;
  margin-left: 37vw;
  margin-top: 70vh;
  width: 27vw;
}


// @media only screen and (max-width: 1980px) {
//   .logo_and_stars {
//     z-index: 5;
//     margin-left: 11vw;
//     margin-top: 12vh;
//     height: 40vh;
//   }
// }


@media only screen and (max-width: 1720px) {

  // .logo_and_stars {
  //   z-index: 5;
  //   margin-left: 16vw;
  //   margin-top: 12vh;
  //   height: 40vh;
  // }

  // .brown_blurb {
  //   z-index: 5;
  //   margin-left: 43vw;
  //   margin-top: 33vh;
  //   height: 20vh;
  // }
  
  // .hackgt_text {
  //   z-index: 5;
  //   margin-left: 40vw;
  //   margin-top: 18vh;
  //   width: 51vw;
  // }

  // .dates_blurb {
  //   z-index: 5;
  //   margin-left: 67vw;
  //   margin-top: 47vh;
  //   width: 30vw;
  // }
  
  // .register_now {
  //   z-index: 5;
  //   margin-left: 45vw;
  //   margin-top: 70vh;
  //   width: 27vw;
  // }  
}

@media only screen and (max-width: 1440px) {
  // .crumpled_paper {
  //   z-index: 4;
  //   width: 100vw;
  //   height: 100vh;
  //   // margin-left: 15vw;
  // }
  
  // .rectangle {
  //   z-index: 5;
  //   width: 85vw;
  //   height: 40vh;
  //   margin-left: 22vw;
  //   margin-top: 14vh;
  // }

  .logo_and_stars {
    z-index: 5;
    margin-left: 15vw;
    margin-top: 15vh;
    height: 37vh;
  }

  // .brown_blurb {
  //   z-index: 5;
  //   margin-left: 50vw;
  //   margin-top: 38vh;
  //   height: 18vh;
  // }
  
  // .hackgt_text {
  //   z-index: 5;
  //   margin-left: 45vw;
  //   margin-top: 22vh;
  //   width: 58vw;
  // }

  // .dates_blurb {
  //   z-index: 5;
  //   margin-left: 75vw;
  //   margin-top: 50vh;
  //   width: 35vw;
  // }
  
  // .register_now {
  //   z-index: 5;
  //   margin-left: 45vw;
  //   margin-top: 70vh;
  //   width: 35vw;
  // }

  // .random_text_blurb {
  //   z-index: 5;
  //   margin-left: 63vw;
  //   margin-top: 55vh;
  //   height: 42vh;
  // }
}

@media only screen and (max-width: 1120px) {

  .logo_and_stars {
    z-index: 5;
    margin-left: 11vw;
    margin-top: 15vh;
    height: 37vh;
  }

  .hackgt_text {
    z-index: 5;
    margin-left: 30vw;
    margin-top: 17vh;
    width: 58vw;
  }

}