@import "../styles/variables.scss";

.container {
  position: relative;
  padding-bottom: 40rem;

  .title {
    z-index: 2;
    font-size: 4rem;
    text-align: left;
    padding-top: 2rem;
    padding-left: 5rem;
    color: black;
    font-family: "Scrapbook";
    position: absolute;
  }

  .bodyText {
    z-index: 3;
    padding-top: 10rem;
    padding-left: 37rem;
    padding-right: 20rem;
    font-size: 200%;
    text-align: center;
    color: #ffffff;
    position: absolute;
  }

  .maskCircle {
    z-index: 1;
    position: absolute;
  }

  .maskContentBox {
    z-index: 1;
    padding-left: 25rem;
    height: 50rem;
    position: absolute;
  }

  .banner_mask {
    z-index: 2;
    position: absolute;
    height: 20rem;
    top: -8rem;
    padding-left: 90rem;
  }

  .registration_panel {
    z-index: 1;
    padding-top: 45rem;
    padding-left: 15rem;
    position: absolute;
  }

  .registrationText {
    z-index: 3;
    padding-top: 47rem;
    padding-left: 25rem;
    text-align: center;
    color: #608774;
    font-family: "Scrapbook";
    font-size: 250%;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  .container {
    .title {
      font-size: 2rem;
      padding-top: 1rem;
      padding-left: 1rem;
    }

    .bodyText {
      padding-top: 20rem;
      padding-left: 10%;
      padding-right: 15%;
      font-size: 150%;
      color: #ffffff;
      position: absolute;
    }

    .maskCircle {
      position: absolute;
      width: 30%;
    }

    .maskContentBox {
      padding-left: 0;
      width: 90%;
    }

    .banner_mask {
      z-index: 2;
      position: absolute;
      width: 30%;
      top: 9rem;
      right: 0;
    }

    .registration_panel {
      z-index: 1;
      padding-top: 45rem;
      padding-left: 15rem;
      position: absolute;
    }

    .registrationText {
      z-index: 3;
      padding-top: 47rem;
      padding-left: 25rem;
      text-align: center;
      color: #608774;
      font-family: "Scrapbook";
      font-size: 250%;
      position: absolute;
    }
  }
}

@media (max-width: 700px) {
  .container {
    .title {
      font-size: 2rem;
      padding-top: 1rem;
      padding-left: 1rem;
    }

    .bodyText {
      padding-top: 20rem;
      padding-left: 3rem;
      font-size: 10px;
      color: #ffffff;
      position: absolute;
    }

    .maskCircle {
      position: absolute;
      width: 30%;
    }

    .maskContentBox {
      padding-left: 0;
      width: 90%;
    }

    .banner_mask {
      z-index: 2;
      position: absolute;
      width: 30%;
      top: 9rem;
      right: 0;
    }

    .registration_panel {
      z-index: 1;
      width: 90%;
      padding-top: 30rem;
      padding-left: 2rem;
      position: absolute;
    }

    .registrationText {
      z-index: 3;
      padding-top: 31rem;
      padding-left: 4rem;
      text-align: center;
      color: #608774;
      font-family: "Scrapbook";
      font-size: 100%;
      position: absolute;
    }
  }
}
